#root {
    background: rgb(241, 183, 183);
    padding: 20px;
    margin: 20px;
    text-align: center;
}

#cng-btn {
    background: rgb(170, 85, 24);
    padding: 10px;
    font-size: 32px;

}


#cng-btn:hover {
    background: rgb(138, 138, 97);
    font-style: italic;

}